<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArchiwizatorFaktur.Properties.Settings.HURTConnectionString" connectionString="Data Source=intrasql\pro;Initial Catalog=HURT;Persist Security Info=True;User ID=sa;Password=chwDP" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
